<!-- / Content -->

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">

      <!-- Forgot Password -->
      <div class="card px-sm-6 px-0">
        <div class="card-body">

          <!-- Logo -->
          <div class="app-brand justify-content-center mb-6">
            <%= link_to main_marketing_site_address, class: "app-brand-link gap-2" do %>
              <span class="app-brand-text demo text-heading fw-bold">Showaru 🚀</span>
            <% end %>
          </div>
          <!-- /Logo -->

          <h4 class="mb-1">Forgot Password? 🔒</h4>
          <p class="mb-6">Enter your email and we'll send you instructions to reset your password</p>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), id: "formAuthentication", class: 'mb-6', html: { method: :post }) do |f| %>
            <div class="mb-6">
              <%= f.label :email, 'Email address', class: 'form-label' %>
              <%= f.email_field :email, class: 'form-control', id:  'email', placeholder: 'Enter a valid email address', autofocus: true %>
            </div>

            <div class="mb-6">
              <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary d-grid w-100' %>
            </div>
          <% end %>

          <div class="text-center">
            <%= link_to new_session_path(resource_name), class: 'd-flex justify-content-center' do %>
              <i class="icon-base bx bx-chevron-left me-1"></i>
              Back to login
            <% end %>
          </div>

        </div>
      </div>
      <!-- /Forgot Password -->

    </div>
  </div>
</div>

<!-- / Content -->
