<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= content_for?(:title) ? yield(:title) : "Showaru" %></title> <%# Dynamic Title %>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '' %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : '' %>">

  <%# Rails standard tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- TODO - Fix these images -->
  <%#= favicon_link_tag 'img/favicon.png' %>
  <%#= favicon_link_tag 'img/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

  <%# Include application.css if you have app-specific styles %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%# Include application.js for Rails-specific JS (e.g., Turbo, Stimulus) %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= render partial: 'layouts/shared/app/assets' %>
</head>

<%# Use content_for to set body class from views %>
<body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">

<% if !user_signed_in? %>
  <main class="main">
    <%# Flash messages for notices/alerts %>
    <%= render partial: 'layouts/shared/flash' %>
    <%= yield %><%# Renders the content from the specific view file %>
    <%= render partial: 'layouts/shared/app/footer' %>
  </main>
<% else %>
  <%# Render the sidebar and main content for signed-in users %>
  <div id="app">
    <%#= render partial: 'layouts/shared/app/sidebar' %>

      <%# Main Content %>
      <%= yield %>

      <%= render partial: 'layouts/shared/app/footer' %>
<!--    </div>-->
  </div>
<% end %>

</body>
</html>
