<!DOCTYPE html>
<html lang="en" class="layout-menu-fixed layout-compact">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= content_for?(:title) ? yield(:title) : "Showaru" %></title> <%# Dynamic Title %>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '' %>">
  <meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : '' %>">

  <%# Rails standard tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- TODO - Fix these images -->
  <%#= favicon_link_tag 'img/favicon.png' %>
  <%#= favicon_link_tag 'img/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

  <%# Include application.css if you have app-specific styles %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/vendor/css/core.css", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/css/demo.css", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/vendor/libs/apex-charts/apex-charts.css", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/vendor/fonts/iconify-icons.css", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "alt/assets/vendor/css/pages/page-auth.css", media: "all", "data-turbo-track": "reload" %>

  <%# Include application.js for Rails-specific JS (e.g., Turbo, Stimulus) %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/js/helpers.js", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "alt/assets/js/config.js", media: "all", "data-turbo-track": "reload" %>
</head>

<%# Use content_for to set body class from views %>
<body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
  <% if user_signed_in? %>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- Menu -->
        <%= render 'layouts/shared/sidebar' %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <%# Flash messages for notices/alerts %>
          <%= render partial: 'layouts/shared/flash' %>

          <!-- Navbar -->
          <%= render 'layouts/shared/navbar' %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">

            <%# Main Content %>
            <%= yield %>

            <div class="content-backdrop fade"></div>
          </div>
          <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <%= javascript_include_tag "alt/assets/js/main.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/js/dashboards-analytics.js", "data-turbo-track": "reload", defer: true %>

  <!-- Vendor JS -->
  <%= javascript_include_tag "alt/assets/vendor/libs/jquery/jquery.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/libs/popper/popper.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/js/bootstrap.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/js/menu.js", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "alt/assets/vendor/libs/apex-charts/apexcharts.js", "data-turbo-track": "reload", defer: true %>
</body>
</html>
